<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <div class="col-6 offset-3 alert alert-danger d-flex align-items-center justify-content-center" role="alert" style="padding: 10px; height: 60px;">
        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:" style="width: 20px; height: 20px; fill: #721c24;">
            <use xlink:href="#exclamation-triangle-fill"/>
        </svg>
        <p class="alert-heading mb-0" style="font-size: 14px; color: #721c24;"><%= message %></p>
    </div>
</div>